/*Tabs*/
.tabs {
  max-width: 800px;
  margin-top: 20px;
  padding: 0 20px;
}

.tabs input {
  display: none;
}
.tabs label {
  display: inline-block;
  padding: 6px 0 6px 0;
  margin: 0 -2px;
  width: 25%; /* =100/tabs number */
  border-bottom: 1px solid #2196F3;
  text-align: center;
}
.tabs label:hover {
  cursor: pointer;
}
.tabs input:checked + label {
  border: 1px solid #000;
  border-width: 1px 1px 0 1px;
}
.tabs #tab1:checked ~ .content #content1,
.tabs #tab2:checked ~ .content #content2,
{
  display: block;
}
.tabs .content > div {
  display: none;
  padding-top: 20px;
  text-align: left;
  /*height: 192px;*/
  overflow: auto;
}