{% extends 'base.html' %}
{% block body %}
	<h2>Make A Booking</h2>
	<div>
		<p>Provider: {{ provider.fullname }}</p>
		<p>Centre: {{ centre.name }}</p>
	</div>
	
	<div>
		<form method='GET'>
			<h3>State your reason for visiting</h3>
			<input type="text" name="reason" value="{{ reason }}">
			<h3>Choose a date</h3>
			<input type="date" name="date" min="{{ today }}" value="{{ date }}">
			<button type="submit">Submit</button>
		</form>
		<div>
			{% if error %}
				Please Select Date
			{% endif%}
		</div>
	</div>
	{% if date_chosen %}
		<h3>Choose from the following 30 mins slots</h3>
		<!-- Note: These are 30 minute slots, starting at the time displayed -->
		<table>
			<tr>
				<th>Time slot</th>
				<th>Book</th>
			</tr>
			{% for slot in available_slots %}
				<tr>
					<td>{{ slot }}</td>
					<td><a href="{{ url_for('book_confirmation',provider=provider.email,centre=centre.id,date=date,time_slot=slot,reason=reason) }}" onclick="alert('Booking Confirmed!')">Book</a></td>
				</tr>
			{% endfor %}
		</table>
	{% endif %}
{% endblock %}