{% extends 'base.html' %} {% block body %}
    <h2>Profile</h2>
    {% if content %}
        <h3>Name: {{ " ".join([content['given_name'], content['surname']]) }} </h3>
        <h3>Email: {{ content['email'] }}</h3>
        <h3>Medicare Number: {{ content['medicare_no'] }}</h3>

        <table>
            <tr>
                <th>Date</th>
                <th>Time</th>
            </tr>
            {% for appt in appointments %}
                <tr>
                    <td>{{ appt['date'] }}</td>
                    <td>{{ appt['time_slot']}} </td>
                    <td><a href="{{ url_for('view_appointment', apptid=appt['id']) }}"> View Appointment </a></td>
                </tr>
            {% endfor%}
        </table>

    {% else %}
        <h3>Sorry, it seems that this profile is unavailable.</h3>
    {% endif%} 
{% endblock %}