{% extends 'base.html' %}
{% block body %}

<form action="{{ url_for('search') }}" method="get">

    <h1>Search:</h1>
    <h3>
        <input type="text" name="query" placeholder="Enter Search Term"><br>
        <input type="radio" name="select" value="centre_name"> Search by Centre<br>
        <input type="radio" name="select" value="centre_suburb"> Search by Suburb<br>
        <input type="radio" name="select" value="prov_name"> Search by Provider<br>
        <input type="radio" name="select" value="prov_service"> Search by service
            <select name="service">
                {% for s in services %}
                <option value="{{ s }}">{{ s }}</option>
                {% endfor %}
            </select><br>

        <button type="submit"> Search </button>
    </h3>
</form>

<br>
{% if error %} <h2> {{ error }} </h2> {% endif %}

{% if results|length > 0%}
<h2> Search Results: {{ results|length }} found</h2> 
<table>
    <tr>
        <th>Name</th>
        <th>Suburb</th>
        <th>Phone</th>
        <th>Rating</th>
        <th>Profile</th>
    </tr>
    {% for centre in results %}
        <tr> 
            <td>{{ centre.name }} </td>
            <td>{{ centre.suburb }} </td>
            <td>{{ centre.phone }} </td>
            <td>{{ centre.rating }} </td>
            <td><a href="{{ url_for('search') }}"> View Profile</a></td>
        </tr>
    {% endfor %}
{% endif %}

</table>

{% endblock %}